{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}User change{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container">
                <h2 class="text-center mb-4">Change</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3">change</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}